a {
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline wavy;
    text-decoration-color: red;
}

body {
    margin: 0;
    padding-top: 70px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: navy;
    padding: 20px;
}

nav a,
nav button {
    color: white;
    background: none;
    border: none;
    text-decoration: none;
    font-size: 16px;
    margin: 0 15px;  
    cursor: pointer;
}
